<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectNavi.RemoteGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectNavi.RemoteGui.Properties.Settings>
            <setting name="bumperMessage" serializeAs="String">
                <value>Please don't hurt me!!
 - I've bumped against something.</value>
            </setting>
            <setting name="holeMessage" serializeAs="String">
                <value>Please don't hurt me!!
 - I've just detected a hole in the ground.</value>
            </setting>
        </ProjectNavi.RemoteGui.Properties.Settings>
    </userSettings>
</configuration>